django
gunicorn
django-heroku
django
gunicorn
django-heroku
click           
Flask           
itsdangerous    
Jinja2
MarkupSafe      
pip           
psycopg2
psycopg2-binary 
setuptools     
Werkzeug        
wheel     