APScheduler==3.6.3
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
chromedriver-binary==85.0.4183.38.0
CurrencyConverter==0.14.2
html-parser==0.2
idna==2.10
IMDbPY==6.8
lxml==4.5.1
MouseInfo==0.1.3
numpy==1.19.0
opencv-python==4.3.0.36
pandas==1.0.5
Pillow==7.2.0
ply==3.11
PyAutoGUI==0.9.50
PyDirectInput==1.0.2
PyGetWindow==0.0.8
PyJWT==1.7.1
PyMsgBox==1.0.8
pynput==1.7.1
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
pyTelegramBotAPI==3.7.2
pytesseract==0.3.4
python-dateutil==2.8.1
python-pdf==0.37
PyTweening==1.0.3
pytz==2020.1
pywhatkit==2.4
query-string==0.0.0
request==0.0.0
requests==2.24.0
schedule==0.6.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.18
telegram==0.0.1
twilio==6.43.0
tzlocal==2.1
urllib3==1.25.9
wikipedia==1.4.0